#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/preloader.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: scroll;
    opacity: 100%;
    z-index: 9999;
    background-color: var(--color-background);
}

/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

}


/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

}

/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

}