/* 1069px and Upper - Desktop Sections */

/* Home Background */
.page-background-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 9%;
    z-index: -8;
    overflow: hidden;
    background-image: url("/assets/images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.page-background-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: -9;
    filter: grayscale(1);
    overflow: hidden;
    background-image: url("/assets/images/bg-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

/* Eclipses Section */
.eclipse-1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(150px);
    background-color: var(--color-eclipse-1);
}

.eclipse-2 {
    position: fixed;
    bottom: 13rem;
    right: 0;
    z-index: -1;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(150px);
    background-color: var(--color-eclipse-2);
}

/* Hero Section */
.hero {
    padding: 5rem 0;
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.hero-content h1 {
    font-size: 7rem;
    line-height: 1.4;
    font-family: var(--font-family-);
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    text-align: center;
    text-shadow: 0rem 0rem 6rem var(--color-text-hover);
}

.hero-content h2 {
    font-size: 3.4rem;
    line-height: 1.4;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    text-align: center;
    text-shadow: 0rem 0rem 6rem var(--color-text-hover);
}

.hero-content h2 span {
    font-weight: var(--font-weight-black);
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0rem 0rem 6rem var(--color-primary);
}

.hero-content p {
    font-size: 2rem;
    line-height: 1.6;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-hover);
    text-align: center;
    text-shadow: 0rem 0rem 2rem var(--color-primary);
}

.hero-content p span {
    font-weight: var(--font-weight-bold);
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hero-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
   
}

.hero-img video {
    width: 100%;
    height: auto;
    padding: 4rem;
    animation: FloatingImage 3s ease-in-out infinite;
    -webkit-animation: FloatingImage 3s ease-in-out infinite;
    scale: 0.85;
    opacity: 0.25;
    mix-blend-mode: darken;
    border-radius: 16px;
    border: 4px solid var(--color-primary);
    filter: grayscale(1);
    background-color: transparent;
    object-fit: contain;
}

@keyframes FloatingImage {
    0% {
        transform: translateY(-2.5rem) perspective(600px) rotateY(0deg) scale(.99) rotateX(5deg);
    }

    50% {
        transform: translateY(0) perspective(600px) rotateY(0deg) scale(.99) rotateX(5deg);
    }

    100% {
        transform: translateY(-2.5rem) perspective(600px) rotateY(0deg) scale(.99) rotateX(5deg);
    }
}

/* Marketplaces Section */
.marketplaces {
    padding: 5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.marketplaces a {
    width: 30rem;
}

.marketplaces img {
    width: 100%;
    height: auto;
}

/* Contract Section */
.contract {
    padding: 5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contract .card {
    height: auto;
    width: 100%;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 16px;
    background-color: var(--color-background-transparency);
    color: var(--color-text-hover);
    z-index: 0;
}

.contract .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contract h2 {
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    text-align: center;
    text-shadow: 0 0 4rem var(--color-primary);
}

.contract p {
    font-size: 1.6rem;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-hover);
    text-align: center;
    text-shadow: 0rem 0rem 2rem var(--color-primary);
}

/* About section */
.about {
    padding: 5rem 0;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    text-align: center;
}

.about-title h2 {
    font-size: 5rem;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-black);
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-text-light);
    text-shadow: 0rem 0rem 6rem var(--color-text-hover);
}

.about-title h2 span {
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0rem 0rem 6rem var(--color-primary);
}

.about-title p {
    font-size: 2rem;
    line-height: 1.6;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-hover);
    text-align: center;
    text-shadow: 0rem 0rem 2rem var(--color-primary);
}

.about-title p span {
    font-weight: var(--font-weight-bold);
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
}


.about-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.about-content .box {
    width: 30%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 16px;
    background-color: var(--color-background-transparency);
}

.about-content .box img {
    width: 100%;
    height: auto;
}

/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    html {
        font-size: 60%;
    }

    /* Hero Section */
    .hero {
        padding: 5rem 0;
    }

    .hero-content h1 {
        font-size: 7rem;
    }

    .hero-content h2 {
        font-size: 3rem;
    }

    .hero-content p {
        max-width: 50rem;
    }

    .hero-img video {
        scale: 0.9;
    }

    /* Contract Section */
    .contract {
        padding: 5rem 0;
    }

    /* About section */
    .about {
        padding: 5rem 0;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    /* Eclipses Section */
    .eclipse-1 {
        display: none;
    }

    .eclipse-2 {
        display: none;
    }

    /* Hero Section */
    .hero {
        padding: 5rem 0 2.5rem 0;
    }

    .hero-content h1 {
        font-size: 5rem;
    }

    .hero-content h2 {
        font-size: 2.6rem;
    }

    .hero-content p {
        max-width: 50rem;
    }

    .hero-img {
        top: -5rem;
    }

    .hero-img video {
        scale: 1;
    }

    .hero-buttons {
        width: 100%;
    }

    .hero-buttons a {
        width: 50%;
    }

    /* Marketplaces Section */
    .marketplaces {
        padding: 2.5rem 0;
    }

    .marketplaces a {
        width: 20rem;
    }

    /* Contract Section */
    .contract {
        padding: 2.5rem 0;
    }

    .contract .card {
        padding: 2.5rem;
    }

    .contract .content {
        gap: 1rem;
    }

    /* About section */
    .about {
        padding: 2.5rem 0;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .about-content .box {
        width: 70%;
    }

    .about-content .box img {
        width: 100%;
        height: auto;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    /* Eclipses Section */
    .eclipse-1 {
        display: none;
    }

    .eclipse-2 {
        display: none;
    }

    /* Hero Section */
    .hero {
        padding: 5rem 0 2.5rem 0;
        flex-direction: column;
        gap: 4rem;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-content h2 {
        font-size: 2.4rem;
    }

    .hero-content p {
        max-width: 40rem;
    }

    .hero-img {
        top: -5rem;
    }

    .hero-img video {
        scale: 1.2;
    }

    .hero-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-buttons a {
        width: 100%;
    }

    /* Marketplaces Section */
    .marketplaces {
        padding: 1rem 0;
        flex-direction: column;
        justify-content: center;
    }

    .marketplaces a {
        width: 20rem;
    }

    /* Contract Section */
    .contract {
        padding: 1rem 0;
    }

    .contract .card {
        padding: 2rem;
    }

    .contract .content {
        gap: 1rem;
    }

    .contract h2 {
        font-size: 2rem;
    }

    .contract p {
        font-size: 0.9rem;
    }

    /* About section */
    .about {
        padding: 2.5rem 0;
        gap: 2.5rem;
    }

    .about-title {
        text-align: center;
    }

    .about-title h2 {
        font-size: 3.6rem;
    }

    .about-title h3 {
        font-size: 1.6rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .about-content .box {
        width: 70%;
    }

    .about-content .box img {
        width: 100%;
        height: auto;
    }
}